body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

header {
  background: #0088cc;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 700px;
  border-radius: 10px;
}
